body, html{
  height:100%;
}
body{
  margin: 0px;
  /*background-color:#444;*/
  background-image: url("http://www.washingtonian.com/blogs/capitalcomment/assets_c/2012/10/2012-10-04-12038_Markhoff's_047-thumb-995xauto-45346.jpg");
  background-size: contain;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .lineUp, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:20px solid red;
  border-radius:20px;
  position:absolute;
}

#bananadancer, #ghost, #skeleton {
  width: 50px;
  border:0px;
  border-radius:0px; 
  margin: 0;
  /*border:30px solid green;*/
}

img {
    position: absolute;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }