body, html{
  height:100%;
}
body{
  margin: 0px;
  /*background-color:#444;*/
  background-image: url(http://free.wallpaperbackgrounds.com/cartoon/artistic/127987-16023.jpg);
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .lineUp, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:20px solid red;
  border-radius:20px;
  position:absolute;
}

#chamdancer {
  width: 50px;
  border:0px;
  border-radius:0px; 
  margin: 0;
  /*border:30px solid green;*/
}